

/* PRODUCT: CARD */

#root .card-box{
  z-index:100;
  /* font-size:12px; */
  margin: 0 2px 0 2px;
}


 
  #root .card{
    /* background-color:grey; */
    background-color:transparent !important;
    position: relative;
    box-shadow: 0 0 0 0;
    overflow:hidden;
  }
  #root .card img{
    /* border-radius: 8px; */
    overflow:hidden;
    border: 0px solid white;
    width: 100%;
    height:230px;
    /* margin-left: 15px; */
    /* transform: scale(1); */
    transition: .1s ease-in-out;

  }
  
  /* #root .card img:hover{
    transform: scale(1.2);
  } */

 
  
  /*Filter styles: refer to this*/
  .saturate { filter: saturate(3); }
  .grayscale { filter: grayscale(100%); }
  .contrast { filter: contrast(160%); }
  .brightness { filter: brightness(0.25); }
  .blur { filter: blur(3px); }
  .invert { filter: invert(100%); }
  .sepia { filter: sepia(100%); }
  .huerotate { filter: hue-rotate(180deg); }
  .rss.opacity { filter: opacity(50%); }
  