
.signup-content a {
    text-decoration: none;
    color:black;
}

.signup-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

.social-signup{
    width:100%;
}

#root .social-btn {
    /* padding: 1rem 6rem; */
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 16px;
    box-shadow: none;
    color: rgba(0,0,0,.65);
    text-transform: none;
    line-height: 3rem;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-left:1rem;

    /* margin-top: 10px; */
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.login-link a{
    /* color: rgba(0, 0, 0, 0.65); */
    color: blue !important;
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}

.signup-container{
    height:100%;
    width:100%;
}

/* customization */

.signup-container .form-item{
    margin-bottom:1rem;
    
}

#root .signup-container .signin-link{
    color:rgb(211, 190, 190) !important;
    text-decoration: none;
    cursor: pointer;
}

#root .signup-container .signup-link {
    color:rgb(38, 24, 112);
    font-size:1.5rem;
    margin:0.5rem;
}

#root .signup-container .social-btn{
    margin-bottom: 14px;
    /* padding: 1rem 3rem; */
    box-shadow: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: 4px;
    line-height: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: rgba(0,0,0,.65);
    background-color: transparent;
    border-color: #e8e8e8;
    outline: none;
    text-transform: none;
}

.error{
    background-color:rgb(238, 218, 218);
    border-radius: 1%;
    padding: 0.3em 1em;
    color:red;
    font-size:1.1rem
}

.success{
    background-color:rgb(231, 243, 241);
    border-radius: 1%;
    color: rgb(184, 184, 12);
    font-size:1.1rem;
    padding: 0.3em 1em;

}